@import 'variables';

.trend {
	font-size: inherit;
	height: $line;
	transition-property: transform, color;
	transition-duration: $duration;
	transition-timing-function: $easing;
	color: $green;

	> svg {
		height: 100%;
		display: inline-block;
		color: inherit;
		fill: currentColor;
	}
}

.trend--down {
	transform: scaleY(-1) translateY(-15%);
	color: $red;
}

.trend--reversed {
	color: $red;

	&.trend--down {
		color: $green;
	}
}
