@import '../../styles/variables';
@import '../../styles/mixins/button';
@import '../../styles/mixins/control';

.period {
	display: flex;
	flex-direction: column;
	margin: $line/4;
}

.button {
	margin: 0;
	color: $gray;

	&:not(:first-child):not(:last-child) {
		border-radius: 0;
		border-top: 0;
	}

	&:last-child {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top: 0;
	}

	&:first-child {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
}
