@import 'variables';

.index {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: $line 0;
  flex-grow: 1;
  padding: $line*2 $line 0;
}

.index:not(:last-child) {
  border-right: 2px solid $gray-lll;
}

.content {
  height: $line*2;
  margin-bottom: calc(#{$line/2} - 1px);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.value {
  height: 100%;
}

.value__number {
  font-size: 2.5rem;
}

.value__scale {
  text-transform: uppercase;
  font-size: 1rem;
}

.line {
  height: 1px;
  width: 100%;
  background-color: $gray;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin: $line/2 0;
}

.label {
  font-weight: $bold;
  margin-right: $line*2;
  margin-bottom: $line/2;
  font-size: 1.125rem;
}

.text {
    min-width: $min-width/2;
}
