@import 'variables';
@import 'mixins/button';

.button {
	@include button();
	padding-left: $unit * 4;
	padding-right: $unit * 4;
	margin: $unit * 2 $line;
}

.button--active {
	@include button--active;
}

.icon:not(:only-child) {
	margin-right: $unit;
}
