@import 'variables';

.table {
    border-collapse: collapse;
    width: 100%;

}

.table-iframe {
    position: absolute;
    z-index: -1;
    top: 0;
    overflow: hidden;
    border: 0;
}

.fixed-table {
    table-layout: fixed;
    border-collapse: collapse;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
	margin: $line/4;
    overflow-x: scroll;
	background-color: $bg;
}


.content {
    overflow-y: auto;
    height: 100%;
}
.cell {
    border: 1px solid $gray-ddd;
    line-height: $line;
		padding: $line/4;
    &:not(:first-child) {
        text-align: center;
    }
}

.header__cell{
    @extend .cell;
    line-height: 0;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0;
}

.header__cell--fixed {
    @extend .cell;
    box-sizing: border-box;
}
