@import 'variables';

.company {
	font-weight: $bold;
}

.companyGreen {
	background-color: rgba(green, 0.2);
}

.companyYellow {
	background-color: rgba(yellow, 0.2);
}

.companyRed {
	background-color: rgba(red, 0.2);
}
