@import 'variables';

.control {
	display: flex;
	flex-direction: column;
	margin: $unit $unit * 2 $unit * 2;
	flex-grow: 1;
	flex-shrink: 1;
}

.label {
	font-weight: $regular;
	line-height: $line;
	margin-bottom: $unit;

	&--required {
		&::after {
			content: ' *';
			color: $red;
		}
	}

	&--disabled {
		color: mix($bg, $fg, 50%);
	}
}

.textfield {
	line-height: $line;
	border-radius: $radius;
	border: 0;
	outline: 0;
	padding: $unit;
	font-size: $font-size;
	background-color: $bg;

	&--error {
		box-shadow: inset 0 0 0 2px $bg, inset 0 0 0 4px $red;
	}

	&--disabled {
		background-color: mix($bg, $fg, 50%);
	}
}

.button {
	display: inline-block;
	border: 1px solid mix($fg, $bg, 60%);
	color: mix($fg, $bg, 60%);
	border-radius: $radius;
	line-height: $line;
	vertical-align: middle;
	text-decoration: none;
	padding: calc(#{$line/4} - 1px);
	background-color: transparent;
	outline: none;
	font-size: 1em;
	transition-property: color, border-color, background-color, box-shadow;
	transition-duration: $duration;
	transition-timing-function: $easing;
	cursor: pointer;
	font-weight: 300;

	&:hover {
		color: darken(mix($fg, $bg, 60%), 10%);
		border-color: darken(mix($fg, $bg, 60%), 10%);
		background-color: rgba(mix($fg, $bg, 60%), .35);
	}

	&:focus {
		box-shadow: inset 0 0 0 1px $pri;
		border-color: $pri;
	}

	&--active {
		border-color: $pri;
		background-color: rgba($pri, .2);
		color: $pri;

		&:not(:first-child) {
			box-shadow: -1px 0 0 $pri;
		}
	}
}
