@font-face {
  font-family: 'Fira Sans';
  src:
    local('Fira Sans Light'),
    local('Fira Sans-Light'),
    url('../fonts/firasans/firasanslight.woff2') format('woff2'),
    url('../fonts/firasans/firasanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src:
          local('Fira Sans Regular'),
          local('Fira Sans-Regular'),
          url('../fonts/firasans/firasans.woff2') format('woff2'),
          url('../fonts/firasans/firasans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src:
          local('Fira Sans Italic'),
          local('Fira Sans-Italic'),
          url('../fonts/firasans/firasansitalic.woff2') format('woff2'),
          url('../fonts/firasans/firasansitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src:
          local('Fira Sans Medium'),
          local('Fira Sans-Medium'),
          url('../fonts/firasans/firasansmedium.woff2') format('woff2'),
          url('../fonts/firasans/firasansmedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

