/*
Colors
============================================================================= */
$white: #fff;
$black: #fff;

$fg: #53535B;
$bg: #FBFFFE;

$gray-lll: mix($fg, $bg, 5%);
$gray-ll:  mix($fg, $bg, 10%);
$gray-l:   mix($fg, $bg, 15%);
$gray:     mix($fg, $bg, 20%);
$gray-d:   mix($fg, $bg, 25%);
$gray-dd:  mix($fg, $bg, 30%);
$gray-ddd: mix($fg, $bg, 35%);

$pri:     #FAA916;
$pri-d:   mix($fg, $pri, 20%);
$pri-dd:  mix($fg, $pri, 30%);
$pri-ddd: mix($fg, $pri, 40%);
$pri-lll: mix($bg, $pri, 40%);
$pri-ll:  mix($bg, $pri, 30%);
$pri-l:   mix($bg, $pri, 20%);

$sec:     #6566BF; // #434371
$sec-d:   mix($fg, $sec, 25%);
$sec-dd:  mix($fg, $sec, 30%);
$sec-ddd: mix($fg, $sec, 35%);
$sec-lll: mix($bg, $sec, 60%);
$sec-ll:  mix($bg, $sec, 40%);
$sec-l:   mix($bg, $sec, 20%);

$ter:     #69BFB8;

$green:      #97CB03;  //Success
$light-blue: #3c8dbc;  //Primary
$red:        #F35D01;  //Danger
$aqua:       #00c0ef;  //Info
$yellow:     #f39c12;  //Warning
$blue:       #0073b7;
$navy:       #001F3F;
$teal:       #39CCCC;
$olive:      #3D9970;
$lime:       #01FF70;
$orange:     #FF851B;
$fuchsia:    #F012BE;
$purple:     #605ca8;
$maroon:     #D81B60;
$black:      #111;
$dark-blue:  mix($fg, $sec, 80%);

$duration: .2s;
//$easing: cubic-bezier(0.55, 0, 0.1, 1);
$easing: ease-in-out;

/*
Typography
============================================================================= */
$font-size: 0.875rem;
$line-height: 1.25rem;
$font-family: "Roboto", sans-serif;
$bold: 500;
$regular: 300;


/*
Shadow
============================================================================= */
$shadow-1: 0 1px 2px fade(#000, 10%);
$shadow-2: 0 2px 4px fade(#000, 15%);
$shadow-3: 0 3px 6px fade(#000, 20%);
$shadow: $shadow-1;

/*
Radius
============================================================================= */
$radius: 3px;
/*
Margins
============================================================================= */
$line: 1.25rem;
$unit: $line/4;
$min-width: 20rem;
$sidebar-width: 12rem;

/*
Media queries
============================================================================= */
$mobile: 'only screen and (max-width: 360px)';
$tablet: 'only screen and (min-width: 361px) and (max-width: 1024px)';
$desktop: 'only screen and (min-width: 1025px)';
