@import 'variables';

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: $fg;
  font-size: $font-size;
  line-height: 1.25;
  font-family: 'Fira Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: $bg;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: $unit * 2 0;
  line-height: 1.5rem;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.main {
  display: flex;
}

.page {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
}

.content {
	display: flex;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	padding: $line/4;
	overflow-y: auto;
	max-height: 100%;
	flex-grow: 1;
	position: relative;
	background-color: $gray-ll;
}

