@import '../../styles/variables';

.icon {
	display: inline-block;
	vertical-align: text-bottom;
	font-size: inherit;
	width: 1.5em;
	height: 1.5em;

	> svg {
		height: 100%;
		display: inline-block;
		vertical-align: top;
		color: inherit;
		fill: currentColor;
	}
}
