@import 'variables';

.header {
	background-color: $bg;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 0;
	padding: $line/4;
	box-shadow: inset 0 -1px 0 mix($fg, $bg, 20%);
}

.breadcrumbs {
	font-size: 1.5rem;
	flex-grow: 1;
	display: flex;
	align-items: center;
	margin: $line/4;
}

.sidebar-toggle {
	padding: 0;
	width: 2rem;
	height: 2rem;
	border: 0;
	background: transparent;
	margin: $line/4;

	@media #{$desktop} {
		display: none;
	}
}

.menu {
	display: flex;
	align-self: flex-end;
}

.menuitem {
	color: $fg;
	line-height: $line;
	padding: $line/2;
	text-decoration: none;
	position: relative;
	transition: background-color $duration $easing;
}

.menuitem--active {
	display: none;
}

.logo {
	height: $line*1.5;
	//width: $sidebar-width;
	width: 6rem;
	flex-shrink: 0;
	color: $pri-ll;

	text-align: center;
}

.arrow {
	height: $line*1;
	width: $line*1;
	transform: rotate(-90deg);
	color: $gray;
}
