@import '../../styles/variables';

.sidebar {
	background-color: $fg;
	color: $bg;
	display: flex;
	width: 12rem;
	flex-direction: column;
	flex-shrink: 0;
	height: 100vh;

	&:not(.sidebar--active) {
		@media #{$tablet}, #{$mobile} {
			position: absolute;
			left: 0;
			transform: translateX(-110%);
			pointer-events: none;
			z-index: 10000;

		}
	}
}

.section {
	margin: $line/2 0;
}

.section__title {
	margin: $line/4;
	font-weight: $bold;
}
