@import 'variables';

.dashboard {
  background-color: mix($fg, $bg, 16%);
}

.chart {
	display: inline-block;
}

.content {
	display: flex;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	padding: $line/4;
}

.widget--values {
	width: calc(100% - #{$line/2});
}
