@import 'variables';

.widget {
	flex-grow: 1;
  margin: $line/4;
  background-color: $bg;
  border-radius: $radius;
	width: calc(50% - #{$line/2});
  box-shadow: 0 1px 2px rgba($black, .1);
	max-width: 100%;
}

.header {
  padding: $line/4;
}

.title {
  margin: $line/4;
  font-size: 1.25rem;
}

.content {
  display: flex;
}
