@import '../variables';

@mixin button($color: mix($fg, $bg, 60%)) {
	display: inline-block;
	border: 1px solid currentColor;
	color: $color;
	border-radius: $radius;
	line-height: $line;
	vertical-align: middle;
	text-decoration: none;
	padding: calc(#{$line/4} - 1px);
	background-color: transparent;
	outline: none;
	font-size: 1em;
	transition-property: color, border-color, background-color, box-shadow;
	transition-duration: $duration;
	transition-timing-function: $easing;
	cursor: pointer;
	font-weight: 300;

	&:hover {
		color: darken($color, 10%);
		border-color: darken($color, 10%);
		background-color: rgba($color, .35);
	}

	&:focus {
		box-shadow: inset 0 0 0 1px $pri;
		border-color: $pri;
	}
}

@mixin button--active($color: $pri) {
	border-color: $color;
	background-color: rgba($color, .2);
	color: $color;

	&:not(:first-child) {
		box-shadow: -1px 0 0 $color;
	}
}
