@import '../variables';

@mixin textfield {
	line-height: $line;
	border-radius: $radius;
	border: 0;
	outline: 0;
	padding: $unit;
	font-size: $font-size;
	background-color: $bg;

	&--error {
		box-shadow: inset 0 0 0 2px $bg, inset 0 0 0 4px $red;
	}

	&--disabled {
		background-color: mix($bg, $fg, 50%);
	}
}
