@import 'variables';

.group {
	display: flex;
	padding: $line/4;

	&:not(&--vertical) {
		> .children {
			&:not(:first-child):not(:last-child) {
				border-radius: 0;
			}

			&:first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	&--vertical {
		flex-direction: column;

		> .children {
			&:not(:first-child):not(:last-child) {
				border-radius: 0;
				margin-top: -1px;
			}

			&:first-child {
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}

			&:last-child {
				margin-top: -1px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
}

.children {
	margin: 0;
	color: $gray-l;
}
